<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>


</head>
<div ng-controller="addleaveCtrl">
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i>请假管理
		</div>
  </div>
  <div class="portlet-body form">
  	<form id="leavesForm" class="form-horizontal form-bordered" action="/leaves/save" method="post">
  		<div class="form-group">
        <label class="col-md-3 control-label">课程编号:</label>
        <div class="col-md-4">
	          <input type="text" name="courseId" class="form-control" ng-model="sysPro.courseId"  maxlength="32"/>
        </div>
      </div>
      
  		<div class="form-group">
        <label class="col-md-3 control-label">课程名称:</label>
        <div class="col-md-4">
	          <input type="text" name="courseName" class="form-control" ng-model="sysPro.courseName"  maxlength="32"/>
        </div>
      </div>
  		<div class="form-group">
        <label class="col-md-3 control-label">学生学号:</label>
        <div class="col-md-4">
	          <input type="text" name="userId" class="form-control" ng-model="sysPro.userId"  maxlength="32"/>
        </div>
      </div>
  		<div class="form-group">
        <label class="col-md-3 control-label">学生姓名:</label>
        <div class="col-md-4">
	          <input type="text" name="userName" class="form-control" ng-model="sysPro.userName"  maxlength="32"/>
        </div>
      </div>
  		<div class="form-group">
        <label class="col-md-3 control-label">请假时间:</label>
        <div class="col-md-4">
	          <input type="text" name="leaveTime" class="form-control" ng-model="sysPro.leaveTime"  maxlength="32"/>
        </div>
      </div>
  		<div class="form-group">
        <label class="col-md-3 control-label">请第几次课程:</label>
        <div class="col-md-4">
	          <input type="text" name="leaveNo" class="form-control" ng-model="sysPro.leaveNo"  maxlength="10"/>
        </div>
      </div>
  		<div class="form-group">
        <label class="col-md-3 control-label">审批状态:</label>
        <div class="col-md-4">
	          
	          <input type="text" name="leaveStatus" class="form-control" ng-model="sysPro.leaveStatus" maxlength="32"/>
        </div>
      </div>
  		<div class="form-group">
        <label class="col-md-3 control-label">请假理由:</label>
        <div class="col-md-4">
	          <input type="text" name="reason" class="form-control" ng-model="sysPro.reason"  maxlength="256"/>
        </div>
      </div>
      <div class="form-actions">
        <div class="col-md-9 col-md-offset-3">
          <button type="button" class="btn btn-primary" ng-click="saveleave()">
          	保存
          </button>
          <button type="reset" class="btn btn-default" onClick="javascript: history.go(-1);">取消
          </button>
        </div>
      </div>
      <input type="hidden" name="id" value="${leaves.id}">
  	</form>
  </div>
</div>
</div>
</html>