 <div ng-controller="userCtrl"><h3 class="page-title">用户管理</h3>
	<div class="page-bar">
				<ul class="page-breadcrumb content-header">
					<li><i class="fa fa-home"></i></li>
					<li>
						<span>用户管理界面</span>
					</li>
				</ul>
			</div>
	<div class="row content-panel">
		
		
	<div class="col-md-12">
		<div class="panel-search">
				  <form class="form-inline">
				    <div class="form-group">
				      <label class="control-label">用户名：</label>
				      <input type="text" class="form-control" name="username">
				    </div>
				    <div class="form-group">
				      <label class="control-label">姓名：</label>
				      <input type="text" class="form-control" name="name">
				    </div>
				    <div class="form-group">
				      <label class="control-label">电话：</label>
				      <input type="text" class="form-control" name="phone">
				    </div>
				  </form>
				  <div class="btn-div">
						<div class="div-left" >
							<button type="button" class="btn btn-warning" ng-click="useradd()">
								<i class="fa fa-plus"></i> 
							</button>
						</div>
						<div class="div-right">
							<button type="button" class="btn btn-primary" onclick="search()">
								<i class="fa fa-search"></i> 
							</button>
					    <button type="button" class="btn btn-default" onclick="reset()">
					    	<i class="fa fa-repeat"></i> 	
					    </button>
						</div>
					</div>
				</div>
		<div class="panel-content"></div>
	</div>


	<div class="table-scrollable">
		<table class="table table-striped table-hover table-success">
			<thead>
				<tr>
		
					<th>账户</th>
					<th>姓名</th>
					<th>性别</th>
					<th>学校</th>
					<th>学号</th>
					<th>手机号码</th>
					<th>邮箱</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody ng-repeat="items in page.result">
				<tr>
					<td>{{items.username}}</td>
					<td>{{items.name}}</td>
					<td>{{items.sex}}</td>
					<td>{{items.orgId}}</td>
					<td>{{items.orgNumber}}</td>
				    <td>{{items.phone}}</td>
				    <td>{{items.email}}</td>
				    <td>{{items.description}}</td>
				    <td>
						<a href="javascript:;" class="btn btn-sm blue" ng-click="updateuser(items)">
							<i class="fa fa-edit"></i>编辑
						</a>
						<a href="javascript:;" class="btn btn-sm red" ng-click="deluser(items,$event)">
							<i class="fa fa-trash"></i>删除
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>		
</div>