

<div ng-controller="roleaddCtrl">
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i>角色管理
		</div>
  </div>
  <div class="portlet-body form">
  	<form id="sysRoleForm" class="form-horizontal form-bordered" action="/sysRole/save" method="post">
  		<div class="form-group">
        <label class="col-md-3 control-label">角色编码:</label>
        <div class="col-md-4">
        	<div class="input-icon right">
	        	<i class="fa"></i>
	          <input type="text" class="form-control" name="roleCode" ng-model="sysRole.roleCode"  maxlength="50"/>
	        </div>
        </div>
      </div>
  		<div class="form-group">
        <label class="col-md-3 control-label">角色名称:</label>
        <div class="col-md-4">
        	<div class="input-icon right">
	        	<i class="fa"></i>
	          <input type="text" class="form-control" name="roleName" ng-model="sysRole.roleName"  maxlength="50"/>
	        </div>
        </div>
      </div>
  		<div class="form-group">
        <label class="col-md-3 control-label">备注:</label>
        <div class="col-md-4">
        	<div class="input-icon right">
	        	<i class="fa"></i>
	        	<textarea rows="5" class="form-control" name="description" ng-model="sysRole.description"  maxlength="255"></textarea>
	        </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">菜单权限:</label>
        <div class="col-md-4">
        	<input type="hidden" id="menuIds" name="menuIds"/>
        	<ul id="menuTree" class="ztree" style="margin-top:0; width:160px;"></ul>
        </div>
      </div>
      <div class="form-actions">
        <div class="col-md-9 col-md-offset-3">
          <button type="button" class="btn btn-primary" ng-click="save()">保存   
          </button>
          <button type="reset" class="btn btn-default" onClick="javascript: history.go(-1);">
          	取消
          </button>
        </div>
      </div>
      <input type="hidden" name="id" value="${sysRole.id}">
  	</form>
  </div>
</div>

	

	
	
	</div>
	</div>


</script>
	